<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Searched Dogs</title>
<style>

#table,th,tr,td{
	margin-left: 350px;
	background: ghostwhite;
	text-align : center;
	border: 2px solid black;
	margin-top: 50px;
	opacity: 0.8;
}

	a {
	font-size:25px;
	font-family:verdana;
	}

</style>

</head>
<body background="/dogg2.jpg" style="-webkit-background-size: cover">
   <table id="table">
   <tr>
   <th>id</th>
   <th>name</th>
   <th>ownerName</th>
   <th>breed</th>
   <th>group</th>
   <th>gender</th>
   <th>ranking</th>
   <th>Email</th>
   
   </tr>
   
   <tr th:each="dogs : ${doggylist}">
     <td th:text="${dogs.id}"></td>
     <td th:text="${dogs.name}"></td>
     <td th:text="${dogs.ownerName}"></td>
     <td th:text="${dogs.breed}"></td>
     <td th:text="${dogs.groups}"></td>
     <td th:text="${dogs.gender}"></td>
     <td th:text="${dogs.ranking}"></td>
      <td th:text="${dogs.email}"></td>
     
  
   </tr>
    </table>
    	<a href="Home.html" th:href="@{/}" style="margin-left: 630px;">Home</a>
</body>
</html>